<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548777921-f10a5d3839d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80);">
  <div class="search">
   <form class="form-banner" action="/">
  <div class="form-group">
    <h2>What do you want to learn about?</h2>
    <label for="exampleInputEmail1">Sports</label>
    <input type="text" name="sport" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sports">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Location</label>
    <input type="text"  name="location" class="form-control" id="exampleInputPassword1" placeholder="Location">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="date"  name="date" class="form-control" id="date1" placeholder="Date">
  </div>
  <input type="submit"value="send" class="btn btn-primary btn-padding-01">

</form>

  </div>
  <div class="cta">
    <h1><strong>Skills</strong> help you to learn whatever<em>you like</em>!</h1>
    <p>Meet an instructor and learn whatever skill you like.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

