<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1386&q=80);">
  <div class="search">
   <form class="form-banner">
  <div class="form-group">
    <h5>What do you want to learn about?</h5>
    <label for="exampleInputEmail1">Sports</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sports">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Location</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Location">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Date</label>
    <input type="password" class="form-control" id="date1" placeholder="Date">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </div>
  <div class="cta">
    <h1><strong>Skills</strong> helps you to learn whatever<em>you like</em>!</h1>
    <p>Meet an instructor and learn whatever skill you like.</p>
    <a class="btn btn-primary" href="#">Apply now</a>
  </div>
</div>

