<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1386&q=80);">

   <div class="cta">
    <h1><strong>APTITUDE</strong> can help you to learn <em>anything</em>!</h1>
    <p>Join over 100,000 people already learning new skills on Aptitude! </p>
    <a class="btn btn-gradient" href="#">Apply now</a>
  </div>

  <div class="search">
     <form class="form-banner" action="/">
    <div class="form-group">
      <h2>What do you want to learn about?</h2>
      <label for="exampleInputEmail1">Sports</label>
      <input type="text" name="sport" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Sports">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Location</label>
      <input type="text"  name="location" class="form-control" id="exampleInputPassword1" placeholder="Location">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Date</label>
      <input type="date"  name="date" class="form-control" id="date1" placeholder="Date">
    </div>
    <input type="submit" value="Search" class="btn btn-gradient">
    </form>
  </div>

</div>

