<div class="notification">
  <img class="avatar" src=<%= booking.skill.user.photo %> />
  <div class="notification-content">
    <p><small><%= booking.date %></small></p>
    <h5 class="my-0"><%= booking.skill.title %></h5>
    <h6 class="mt-0"><%= booking.skill.location.upcase %></h6>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
