<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=592&q=80">
    <div class="card-product-infos">
      <h1>Jamie Pritchard</h1>
      <h2><strong>Developer</strong> with 10+ years of experience in Python, React, and Ruby</h2>
      <p>"Jamie is very passionate about coding - you can feel it in your daily interactions with him. There's nothing more contagious than that." - Reviewer</p>
    </div>
  </div>
<% end  %>
