<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80">
    <div class="card-product-infos">
      <h1>Leandro Gonzales</h1>
      <h2>PGA certified <strong>golfer</strong></h2>
      <p>"Leandro has the most amazing attention to details in his teaching, I can highly recommend him! - Reviewer</p>
    </div>
  </div>
<% end  %>
