<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1524772128034-3ecf9a73cbe9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">
    <div class="card-product-infos">
      <h1>Terry Starling</h1>
      <h2><strong>Jiu-jitsu afficionado</strong> with 5 years coaching experience</h2>
      <p>"Prepare to burn some calories with Terry!" - Reviewer</p>
    </div>
  </div>
<% end  %>
