<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="
https://media.licdn.com/dms/image/C5603AQEnYO82e2tnpw/profile-displayphoto-shrink_800_800/0?e=1568851200&v=beta&t=5S-LjJM-7pjiZW85lVK9r8WpB2tpjMXXBzRYg5zCAMI">
    <div class="card-product-infos">
      <h1>Samuel Levy</h1>
      <h2><strong>Jiu-jitsu afficionado</strong> with 5 years coaching experience</h2>
      <p>"Prepare to burn some calories with Samu!" - Reviewer</p>
    </div>
  </div>
<% end  %>
