<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
    <div class="card-product-infos">
      <h1>Sarah Peteraf</h1>
      <h2><strong>Math teacher</strong> at UP Academy</h2>
      <p>"Thanks to Sarah, I no longer fear math; I love math. She always tries to get me understand the logic behind the theories, which is key in learning" - Reviewer</p>
    </div>
  </div>
<% end  %>
