<%= link_to '#', class: "card-link" do %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1554244933-d876deb6b2ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
    <div class="card-product-infos">
      <h1>Madison Lavern</h1>
      <h2><strong>Ashtanga yoga</strong> master</h2>
      <p>"Madison is passionate about ashtanga and continously motivates me to be better everyday" - Reviewer</p>
    </div>
  </div>
<% end  %>
