<%= link_to '#' do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/flagged/photo-1558759103-d4d02c7ee13f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
    <div class="text-bottom-center">
      <h4>Golf</h4>
      <p>50 USD</p>
    </div>
  </div>
<% end  %>
