<div class="col-4 my-2">
  <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= booking.skill.photo %>)">
    <%= link_to booking.skill.title, skill_path(booking.skill), class: "text-booking-title" %>
    <%= link_to new_booking_review_path(booking), class: "text-booking-review" do %>
    Leave a Review
    <% end %>
  </div>
</div>
