<form class="form-inline" action="/search" method='get'>
  <div class="search-form-control form-group">
    <input class="form-control string required text-white" type="text" name="search" placeholder="Search by instructor...">
    <button name="button" type="submit" class="btn btn-gradient btn-search"><i class="fas fa-search"></i></button>
  </div>
</form>
