<form class="form-inline">
  <div class="search-form-control form-group">
    <input class="form-control string required text-white" type="text" name="search[query]" placeholder="Search" id="search_query" />
    <button name="button" type="submit" class="btn btn-gradient btn-search"><i class="fas fa-search"></i></button>
  </div>
</form>
