  <div class="skill-container">
    <div class="skill-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @skill.photo %>);">
    </div>
    <div class="skill-title">
<!--       <h1><strong>Learn</strong> to play the<em>violin</em> like a pro!</h1> -->
      <h1><%= @skill.title %></h1>
    </div>
  </div>
