<div class="skill-form-container">
  <div class="skill-summary">
    <h1 id="h1-skill-summary">Life Lessons</h1>
    <strong>4 guests</strong>
    <strong>1 bedroom</strong>
    <strong>1 bed</strong>
    <strong>1 bath</strong>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    <strong>Best features</strong>
    <p>Adipisci temporibus quis ut obcaecati ab, rerum, vero sapiente iste quidem numquam officiis deserunt odio. Eveniet suscipit atque ipsam officia, veritatis quae.</p>
  </div>
 <form>
  <div class="form-group skill-form">
    <p><strong>$101 per night</strong></p>
    <label for="exampleInputEmail1">Dates</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pick a date">
    <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
  <div class="form-group">
    <label for="exampleInputPassword1">Lesson</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Pick your Lesson">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>

</div>

