  <div class="skill-container">
    <div class="skill-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484959014842-cd1d967a39cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    </div>
    <div class="skill-title">
      <h1><strong>Learn</strong> to play the<em>violin</em> like a pro!</h1>
      <p>Anna is an instructor with <em>ten years</em> of experience as a classical violinist</p>
    </div>
  </div>
