<% if skill.rating.is_a?(String) %>
  <span><%= skill.rating %></span>
<% else %>
  <% 5.times do |i| %>
    <i class="fa fa-star <%= skill.rating >= (i + 1) ? 'checked' : 'unchecked' %>"></i>
  <% end %>
<% end %>

