// Define variables for your color scheme

// For example:
$blue: #167FFB;
$yellow: #FFF6B2;
$orange: #F7A962;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #1D2A7A;
$pink: #F2B5A6;
$red: #700E07;
$dark-gray: #474747;
