.new-skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  margin: 10px 0px;
}

#skill-form {
  flex-grow: 1;
  padding-right: 90px;
}

#header {
  margin-top: 90px;
  margin-bottom: 20px;
  margin-left: 55px;
}

#skill-image {
  height: 600px;
  width: 500px;
  background-size: cover;
}

#header {
  margin: 20px 0px;
}

.description {
  height: 55px;
}

.margin {
margin-top: 100px;
margin-bottom: 100px;
display:flex;
justify-content: center;
}

.more-padding {
  padding: 100px 80px;
}
