<!-- Skill.new, you can do , but to access @skill, you need @booking.skill -->

<div class="container">

<h3>Congratulations! You have sent a booking request to <%= @booking.skill.user.first_name %> </h3>

<div class="booking-info">
  <h5>Your Booking is <%= @booking.status %></h5>
  <div class="booking-details">
    <i class="far fa-calendar-alt"></i>
    <p>Date: @booking.date</p>
  </div>
  <div class="booking-details">
    <i class="far fa-clock"></i>
    <p>Number of Hours: @booking.num_of_hours</p>
  </div>
  <div class="booking-details">
    <i class="fas fa-dollar-sign"></i>
    <p>Price: @booking.price</p>
  </div>
</div>

<div class="booking-instructions">
  <div class="booking-instructions-image">
    <img src="../../../app/assets/images/undraw_reminder_pa79.png" alt="Reminders">
  </div>
  <div class="booking-instructions-info">
    <h6>Reminders: </h6>
    <ul>
      <li>Arrive to your lesson 10 minutes before the lesson begins</li>
      <li>You will receive a reminder email 24 hours before the lesson. Please confirm!</li>
      <li>Dress comfortably!</li>
      <li>Stay hydrated! Please bring a water bottle to your lesson</li>
    </ul>
  </div>
</div>

<div class="booking-instructions">
  <div class="booking-instructions-image">
    <img src="../../../app/assets/images/undraw_cancel_u1it.png" alt="Cancellation">
  </div>
  <div class="booking-instructions-info">
    <h6>Cancellation Policy</h6>
    <ul>
      <li>If you cancel with less than 24 hours notice, you must pay 100% of the fee.</li>
      <li>If you cancel between 24 hours and 48 hours, you will receive a 50% refund</li>
      <li>If you give more than 48 hours notice, you will receive a full refund. </li>
    </ul>
  </div>
</div>

</div>
