<div class="container">
  <div class="search-header pt-50">
    <% if @skills.empty? %>
      <h3>No lessons match your search!</h3>
    <% elsif @skills.count == 1 %>
      <h3>1 lesson near you!</h3>
    <% else %>
      <h3> <%= @skills.count %> lessons near you!</h3>
    <% end %>
  </div>
</div>


