.btn-ghost {
  color: $dark-blue;
  border: 1px solid $dark-blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  color: #0a1450;
  opacity: 1;
  border: 1px solid #0a1450;
}

.btn-flat {
  color: $red;
  padding: 8px 24px;
  border-radius: 4px;
  background: $pink;
  transition: background 0.3s ease;
  text-shadow: none;
  font-weight: bolder;
}

.btn-pending {
  color: $dark-blue;
  border: 1px solid $dark-blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-accepted {
  color: #008489;
  border: 1px solid #008489;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    color: #04bbc2;
    border: 1px solid #04bbc2;
  }
}


.btn-cancelled {
  color: $red;
  border: 1px solid $red;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    color: $red;
    border: 1px solid $red;
  }
}

.btn-flat:hover {
  background: #ffd1c6;
  color: $red;
  text-shadow: none;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(-90deg, #fa6db3 0%, #fe7577 100%);
  transition: background 0.3s ease;
  text-shadow: none;
}

.btn-search {
  padding: 5px 15px;
}

.btn-gradient:hover {
  background-image: linear-gradient(-90deg, #fa6db3 0%, #fe7577 100%);
  color: white;
}
