.container-wide {
  padding-left: 80px;
  padding-right: 80px;
}

.container-medium {
  padding-left: 100px;
  padding-right: 100px;
}

.container-small {
  width: 700px;
  margin: 0 auto;
  margin-top: 130px;
  text-align: center;
}

.container-medium-small {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

