.container-wide {
  padding-left: 80px;
  padding-right: 80px;
}

.container-medium {
  padding-left: 100px;
  padding-right: 100px;
}

.container-small {
  width: 700px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}


