.footer {
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: white;
}
.footer-links a:hover {
  color: white;
  text-decoration: var(--font-link-text-decoration-hover, underline);
}
.footer .fa-heart {
  color: #D23333;
}
