.skill-banner-image {
  height: 360px;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin-bottom: 25px;
  color: white;
}

.header-skills-show {
  font-size: 36px;
  text-shadow: 1px 1px black;
}

#container-show-big {
}

.skill-container-show-banner-1 {
}

.lesson-paragraf {
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.skill-information-wrapper {
  margin-top: 85px;
}
