.card-search-result {
  overflow: hidden;
  height: 220px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.card-search-result img {
  height: 100%;
  width: 280px;
  object-fit: cover;
}

.card-search-result {
  h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  }
  h6 {
  font-size: 20px;
  text-align: left;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: left;
  }
}

.card-search-result .card-search-result-infos {
  padding: 22px;
}

.card-search-result a {
  color: red;
  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

.search-header-one {
  padding-top: 100px;
}

.search-header-two a {
  text-align: center;
  &:hover {
    text-decoration: none;
    color: $pink;
  }
}

.all-card-info a {
  &:hover {
    text-decoration: none;
    color: rgba(29,42,122,0.8)
  }
}

